#name, #firstParagraph, #restOfParagraphs {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

#restOfParagraphs {
    width:70%;
    font-size: 18px;
}

#name {
    font-size: 30px;
    text-align: center;
}

#figure { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        align-items: center;
        height: 50%;
        width: 100%;
    }

body {
    background: rgba(241, 195, 255, 0.781)
}